beautifulsoup4==4.6.0
blessed==1.14.2
botocore==1.5.84
cement==2.8.2
certifi==2017.4.17
chardet==3.0.4
colorama==0.3.7
cssutils==1.0.2
Django==1.9.6
django-annoying==0.10.3
django-bootstrap-form==3.2.1
django-bootstrap-form-horizontal==0.0.4
django-bootstrap-toolkit==2.15.0
django-bootstrap3==8.2.3
django-bootstrap3-datetimepicker-2==2.4.2
django-crispy-forms==1.6.1
django-datetime-widget==0.9.3
django-inlinecss==0.1.2
django-libs==1.67.12
django-mptt==0.8.7
django-polymorphic==1.0.2
django-scheduler==0.8.5
django-sslserver==0.19
docker-py==1.7.2
dockerpty==0.4.1
docopt==0.6.2
docutils==0.13.1
icalendar==3.11.5
idna==2.5
jmespath==0.9.3
mock==2.0.0
packaging==16.8
pathspec==0.5.0
pbr==3.1.1
PyJWT==1.5.2
PyMySQL==0.7.11
pynliner3==0.6
pyparsing==2.2.0
python-dateutil==2.6.0
python-openid==2.2.5
pytz==2017.2
requests==2.9.1
requests-oauthlib==0.8.0
semantic-version==2.5.0
six==1.10.0
social-auth-app-django==1.2.0
social-auth-core==1.4.0
tabulate==0.7.5
termcolor==1.1.0
Unidecode==0.4.20
wcwidth==0.1.7