{% extends "base.html" %}
{% load bootstrap %}

{% block title %}

Food Control | TFG UAH

{% endblock %}

{% block style %}

body
{
padding-top: 40px;
padding-bottom: 40px;
background-color: #eee;
    padding-left: 70px;

}

{% endblock %}






{% block content %}


<div  class="col-sm-3 col-lg-offset-4 " class="container-fluid " >
    <h2> Bienvenido:  {{ user_name }}</h2>
    <p> Para activar su cuenta pulse el siguiente link <a href='{{ link }}'> Activa tu Cuenta</a></p>


</div>




{% endblock %}

