{% extends "base.html" %}
{% load bootstrap %}
{% block style %}

    body
    {

    padding : 20px;
    background-color: #eee;

    }

{% endblock %}




{% block content %}





  <div class='col-sm-6 col-sm-offset-3'>
    <legend>  Reestablecer Contraseña</legend>

      <form id="target" class="form-group form-group-sm" method="POST" action="{% url 'reset' %}">

        <p>Reestablece tu contraseña  usando tu <ins><strong> correo</strong> </ins></p>
          {% csrf_token %}

          {{ form|bootstrap }}

          <input class='btn btn-primary btn-xs active' type="submit" value= "Continuar" />
      </form>
  </div>






{% endblock %}

{% block scripts %}

{% endblock %}



