{% extends "base.html" %}
{% load i18n %}
{% load bootstrap %}
{% load bootstrap3 %}
{% block title %}

Food Control | TFG UAH

{% endblock %}

{% block style %}

body
{
padding-top: 40px;
padding-bottom: 40px;
background-color: #eee;
    padding-left: 70px;

}

{% endblock %}

{% block content %}




<div style="margin-left:20%;padding-top: 7%; "  class="col-md-offset-2 container-fluid " >
    {% include "messages.html" %}
<div style="position: relative">
<div style="width:35%; padding: 0;" class="col-lg-offset-2  panel panel-default ">
    <div style="  background: #337ab7; border-bottom-color: #337ab7; color:#ffffff; text-align: center;" class="panel-heading">Cambiar Contraseña</div>
        <form id="prueba" class=" form-group form-group-md "  action="{% url 'change_password' %}" method="POST" >
            {% csrf_token %} 
            <div class="col-lg-12" style=" margin-top: 2%;margin-bottom: 2%;" >
                <div class="form-group">
                <div >
            <label class="control-label" for="id_password">Password:</label>
            <input id="id_password" name="password" type="password"  class="form-control"  placeholder="Password" required="true">
             </div>
                    </div>
                <div class="form-group">
                <div>
            <label class="control-label" for="id_re_password">Re-Password:</label>
            <input  id="id_re_password" name="re_password" type="password" class="form-control"  placeholder="Re-Password" required="true">
                    </div>
                    <br>
            <input  style="margin-left: 35%;" class="col-sm-offset-4 btn btn-sm btn-primary" id="Continuar" type="submit" value="Continuar"/>

            </div>
                </div>
            <br>
            <a style="margin-left: 40%; color: #222" class="btn btn-link btn-xs col-sm-offset-3" href="" ></a>
            <input name="username" type="hidden" value="{{ username }}">
         </form>

</div>




</div>









{% endblock %}




